@charset "utf-8";

*{
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  color: #333;
}

a{
  display: block;
}

main{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  height: 70px;
  align-items: stretch;
}
.logo{
  width: 200px;
}
.logo img{
  height: 80px;
  width: 100%;
  object-fit: fill;
}
/*----------------------------------------*/
.main-menu{
  flex-grow: 1;
  display: flex;
}
.main-menu ul{
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: stretch;
  padding: 5px;
}

.main-menu>ul>li{
  flex-grow: 1;
  background: #ffeaea;
  position: relative;
}
.main-menu>ul>li>a{
  font-size: 17px;
  padding-top: 20px;
}
.main-menu>ul>li>.sub-menu{
  position: absolute;
  top: 65px; 
  z-index: 20;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  
  padding: 15px 20px 0;
  background: #000;
  opacity: 0.7;

  display: none;
}
.sub-menu a{
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 15px;
}
.sub-menu a:hover{
  color: #fabebe;
}






/*---------------------------------*/
.swapper {
  height: 400px;
  overflow: hidden; /* 슬라이드가 벗어나는 부분을 숨기기 위해 사용 */
  position: relative;
}

.slide-img {
  height: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  
}

.slide-img li {
  height: 400px;
  position: relative;
}
.slide-img img{
  width: 100%;
  object-fit: fill;
}
.slide-img p {
  position: absolute;
  background: rgba(255, 255, 255, 0.5); /* 배경색과 투명도 설정 */
  padding: 50px;
  bottom: 100px;
  left: 300px;
  right: 100px;
  height: 150px;
  border-radius: 15px;
  z-index: 100;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}


.radio-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 5px;
  border-radius: 5px;
  transform: translateX(-50%);
  background: #ffffffc0;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(186, 186, 186);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: rgb(76, 76, 76);
}

/*-------------------------------------*/
.contents{
  display: flex;
  height: 250px;
}

.review{
  width: calc(100% - 600px);
  display: flex;
  padding: 20px;
  position: relative;
}
.shortcut{
  background: #ebebeb;
  padding:0 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.shortcut>*{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
  border: 1px solid #ccc;
}
.review_title{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.review img{
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

/*-------------------------------------*/


.tab{
  width: 600px;
  height: 250px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.tabmenu{
  display: flex;
  position: relative;
  z-index: 1;
  top: 1px;
}
.tabmenu li{
  padding: 5px 10px;
  background: #ccc;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
}
.tabmenu li.active{
  background: #fff;
}

.tab_wrapper{
  border: 1px solid #ccc;
  position: relative;
  box-sizing: border-box;
  height: 180px;
}
.tab_wrapper>div{
  display: none;
  left: 0;
  right: 0;
  position: absolute;
}
.tab_wrapper>.active{
  display: block;
}

#gallery{
  padding: 20px;
  text-align: center;
}
#gallery ul{
  display: flex;
  justify-content: center;
  gap: 10px;
}
#gallery li{
  padding: 10px;
  background: #ebebeb;
}
#gallery img{
  width: 90px;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s;
}
#gallery .index_btn{
  margin-top: 15px;
}
#gallery img:hover{
  opacity: 0.7;
}

#notice{
  margin: 5px;
}
#notice>div{
  display: block;
}
#notice>div li{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
#notice a, #notice span{
  display: block;
  font-size: 13px;
  padding: 0 5px;
}
#notice li:not(:last-child){
  border-bottom: 1px solid #ebebeb;
}
#notice li:hover>span{
  text-decoration: underline;
}
#notice li:hover{
  background: #ebebeb;
}
footer{
  height: 100px;
  background: #ebebeb;
  display: flex;
  align-items: center;
  color: #ccc;
}
footer img{
  width: 200px;
  margin-top: 15px;
}
footer ul{
  display: flex;
  text-align: center;
}
footer li{
  margin: 10px 0 0;
  padding: 0 10px;
}
footer ul li+li{
  border-left: 1px solid #333;
}
footer li:hover{
  text-decoration: underline;
}
footer p{
  margin: 10px;
}
/*-------------------------------------*/
#spot-menu{
  position: sticky;
  z-index: 40;
}
#spot-menu .fixed{
  position: fixed;
  top: 70px;
  width: 200px;
  z-index: 50;
}
#spot-menu .input{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fdfdfd;
  border-radius: 5px;
  padding: 50px 20px;
  margin: 5px;
}
#spot-menu .input div{
  position: relative;
  color: #525252;
}
#spot-menu .input input[type="text"]{
  all: initial;
  font-size: 14px;
  background: #b0b0b0;
  padding: 2px;
  position:absolute;
  right: -10%;
  width: 70%;
}