@charset "utf-8";

*{
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  color: #333;
}

a{
  display: block;
}

main{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  height: 80px;
}
.logo{
  width: 200px;
}
.logo img{
  height: 80px;
  width: 100%;
  object-fit: fill;
}

nav{
  border-radius: 10px 10px 0 0;
  width: calc(100% - 200px);
  margin: 10px 20px;
  text-align: center;
  background: #ffebfa;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
nav ul li{
  flex-grow: 1;
}
nav ul li+li{
  border-left: 1px solid #333;
}
nav ul li:hover a{
  font-weight: bold;
}

nav .sub-menu{
  flex-direction: column;
  background: #333;
  opacity: 0.85;
  z-index: 10;
  position: relative;
  display: none;
}
nav .sub-menu a{
  margin: 10px 0;
  color: #fff;
}

nav .sub-menu li:hover a{
  color: #e89696;
  font-weight: bold;
}
.hidden a{
  opacity: 0;
  cursor: default;
}

.swapper{
  height: 400px;
  overflow: hidden;
}
.swapper img{
  width: 100%;
  height: 400px;
  object-fit: fill;
}

.contents{
  display: flex;
  height: 250px;
}


.shortcut{
  width: calc(100% - 600px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 20px;
}
.shortcut >*{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}
.shortcut img{
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 2px;
}
.shortcut div>div{
  padding: 8px;
}
.shortcut img:hover{
  opacity: 0.7;
  transition: 0.3s;
}



.tab{
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;

  padding: 20px;
}
.tab .tabmenu{
  display: flex;
  position: relative;
  z-index: 1;
  top: 10px;
  left: 20px;
}

.tab .tabmenu a{
  display: block;
  padding: 5px 10px;
  border: 1px solid #cacaca;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  background: #ccc;
}




#gallery{
  text-align: center;
  border: 1px solid #cacaca;
  margin: 10px 20px;
}

#gallery ul{
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#gallery img{
  width: 90px;
  height: 80px;
  border-radius: 2px;
  transition: 0.3s;
}
#gallery .index_btn{
  padding: 7px;
}

#gallery img:hover{
  opacity: 0.7;
}

#notice{
  display: none;
}


footer{
  height: 100px;
  background: #ebebeb;
  display: flex;
  align-items: center;
  color: #ccc;
}
footer img{
  width: 200px;
  margin-top: 15px;
}
footer ul{
  display: flex;
  text-align: center;
}
footer li{
  margin: 10px 0 0;
  padding: 0 10px;
}
footer ul li+li{
  border-left: 1px solid #333;
}
footer li:hover{
  text-decoration: underline;
}
footer p{
  margin: 10px;
}


#spot-menu{
  position: sticky;
}

